---

import '../app.css'

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>esyef - Desarrollador web</title>
	</head>
	<body class="bg-black container">
		<header class="sticky top-0 flex">
			<!-- Logo -->
			<h1 class="text-white">
				<a href="/" class="font-display text-M font-bold tracking-tight">
					esyef
				</a>
			</h1>
			<!-- Social Links -->
		</header>
	</body>
</html>
