---

import type {SocialLinks} from './types'

interface Props {
    data: SocialLinks[]
}


const { data } = Astro.props

---

<ul class="flex justify-center gap-4">
   {
    data.map(({icon,link,title}) => (
        <li>
            <a href={link} target="_blank">
                <img src={icon} alt="title"/>
            </a>
        </li>
    ))
   }
</ul>